.block-filter{
    margin:20px 0;
    border-bottom: 1px solid $border-color;
    button{
        color:$base-color;
        background-color: inherit;
        font-size:$m-size;
        border:none;
        margin-bottom: -1px;
        padding: 15px;
        &.active{
            color:#000;
            border-top:1px solid $border-color;
            border-left:1px solid $border-color;
            border-right:1px solid $border-color;
            border-bottom: 1px solid #fff;
        }
        &:focus{
            outline: none;
        }
    }
   
}